<% if object.errors.any? %>
  <div class="auth-errors">
    <p><%= pluralize(object.errors.count, "error") %> prevented saving:</p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
