<% if object.errors.any? %>
  <div class="auth-errors">
    <p><%= t("form_errors.prevented_saving", count: object.errors.count) %></p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
