# Kamal 2 Deployment Configuration
# https://kamal-deploy.org

service: learning_routes
image: gilberga/learning_routes

servers:
  web:
    hosts:
      - 178.156.240.166
    options:
      memory: 512m
  job:
    hosts:
      - 178.156.240.166
    cmd: bin/jobs
    options:
      memory: 512m

proxy:
  ssl: true
  host: learningroutes.com
  app_port: 3000
  healthcheck:
    interval: 3
    path: /up
    timeout: 3

registry:
  server: registry.hub.docker.com
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
    - DATABASE_CACHE_URL
    - DATABASE_QUEUE_URL
    - DATABASE_CABLE_URL
  clear:
    RAILS_LOG_LEVEL: info
    RAILS_SERVE_STATIC_FILES: "true"
    WEB_CONCURRENCY: 2
    CORS_ORIGINS: "learningroutes.com,www.learningroutes.com"

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole --include-password"

asset_path: /rails/public/assets

builder:
  arch: amd64
