<h1>Welcome to Learning Routes, <%= @user.name %>!</h1>

<p>Please verify your email address by clicking the link below:</p>

<p><%= link_to "Verify Email", @url %></p>

<p>This link will expire in 24 hours.</p>

<p>If you didn't create an account, you can ignore this email.</p>
